@import "tailwindcss";

@theme {
  --color-primary: #004aad;
  --color-secondary: #f7f7f7;
  --color-cta: #ff4810;
  --color-accent-blue: #38b6ff;
  --color-accent-aqua: #5ce1e6;
  --color-black: #000000;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

:root {
  --background: #f7f7f7;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
